<div class="container">
  <div class="jumbotron">
    <h1>Welocome</h1>
    <p>Our Forum mission is to share and grow the world’s knowledge.</p>
    <p><strong><%= link_to 'Browse through all questions', questions_path %></strong></p>
  </div>
</div>
